@import "colors";
@import "anims";

.home {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.sp-banner {
		opacity: 0;
		animation: $appear;
		width: 33%;
	}
}
@media only screen and (max-width: 768px) {
	.home {
		.sp-banner {
			width: 66%;
		}
	}
}
