@import "colors";
@import "anims";

.page {
	text-align: left;
	margin: 3rem;
	height: calc(100% - 6rem - 48px);
	width: calc(100% - 6rem);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: auto;
	animation: $appear;

	// &::before {
	// 	pointer-events: all;
	// 	z-index: 0;
	// 	position: absolute;
	// 	top: 48px;
	// 	left: 0;
	// 	content: "";
	// 	margin: 2rem;
	// 	height: calc(100% - 4rem - 48px);
	// 	width: calc(100% - 4rem);
	// 	border-radius: 16px;
	// 	background-color: adjust-color($background, $alpha: -0.5);
	// }

	* {
		z-index: 1;
	}

	img {
		border-radius: 4px;
	}

	h1,
	h2 {
		font-family: "uglyquaregular";
		align-items: flex-start;
	}

	.gallery {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;

		div {
			margin: 0 4rem;
		}

		img {
			display: block;
			max-width: 100%;
			max-height: 300px;
			margin-left: auto;
			margin-right: auto;
			width: auto;
			height: auto;
			overflow: hidden;
			object-fit: scale-down;
			background-color: green;
		}
	}

	table {
		width: 70%;

		&.gallery td {
			padding: 1rem;
		}

		img {
			display: block;
			max-width: 100%;
			max-height: 300px;
			width: auto;
			height: auto;
		}
	}

	table:not([id*="gallery"]) tr {
		td ul {
			padding-left: 0;
			list-style: none;
		}
		&:nth-child(odd) {
			text-align: left;
		}
		&:nth-child(even) {
			text-align: right;
		}
	}
}
