@import "colors";
@import "anims";

.page {
	text-align: left;
	margin: 0;
	padding: 1rem;
	height: calc(100% - 2rem - 48px);
	width: calc(100% - 2rem);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden auto;
	animation: $appear;

	* {
		z-index: 1;
	}

	img {
		border-radius: 4px;
	}

	h1,
	h2 {
		font-family: "uglyquaregular";
		align-items: flex-start;
	}

	.gallery {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		max-width: 65vw;

		div {
			flex-grow: 1;
			flex-basis: auto;
			text-align: center;
		}

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			min-width: 300px;
			max-height: 300px;
			width: auto;
			overflow: hidden;
			object-fit: scale-down;
			background-color: transparent;
		}
	}

	table {
		width: 70%;

		&.gallery td {
			padding: 1rem;
		}

		img {
			display: block;
			max-width: 100%;
			max-height: 300px;
			width: auto;
			height: auto;
		}
	}

	table:not([id*="gallery"]) tr {
		td ul {
			padding-left: 0;
			list-style: none;
		}
		&:nth-child(odd) {
			text-align: left;
		}
		&:nth-child(even) {
			text-align: right;
		}
	}
}
