@import "colors";
@import "anims";

@media only screen and (max-width: 960px) {
	.page {
		position: absolute;
		top: 64px;

		.dialog {
			overflow: auto !important;
		}

		.gallery.investigations div {
			width: calc(100% - 16px);

			> img {
				width: 100%;
			}
		}
	}
}

.page {
	text-align: left;
	margin: 0;
	padding: 1rem;
	height: calc(100% - 2rem - 48px);
	width: calc(100% - 2rem);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden auto;
	animation: $appear;

	img {
		width: 100%;
		border-radius: 4px;
	}

	h1,
	h2 {
		font-family: "Montserrat", Arial, sans-serif;
		align-items: flex-start;
		word-wrap: break-word;
		text-align: center;
	}

	.gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		&.columns {
			flex-direction: column;
		}
		&.rows {
			flex-direction: row;
		}

		div:not(.dialog) {
			flex: 1 0 auto;
			flex-basis: auto;
			text-align: center;

			img {
				margin-left: auto;
				margin-right: auto;
			}
		}

		img {
			display: block;
			margin-left: 16px;
			margin-right: 16px;
			margin-top: 16px;
			min-width: 300px;
			max-height: 300px;
			width: auto;
			overflow: hidden;
			object-fit: scale-down;
			background-color: $background;
		}
		img ~ p {
			font-style: italic;
			word-wrap: break-word;
		}

		&.investigations div {
			margin: 16px;

			&.audio {
				width: 33.3%;

				> audio,
				audio::-webkit-media-controls-panel {
					background: $background;
					background-color: $background;
				}
				audio::-webkit-media-controls-enclosure,
				audio::-webkit-media-controls-panel {
					border: none !important;
				}
				audio::-webkit-media-controls-timeline-container,
				audio::-webkit-media-controls-current-time-display,
				audio::-webkit-media-controls-time-remaining-display {
					color: $yellow_800;
					border-color: $yellow_400;
				}
				audio::-webkit-media-controls-mute-button,
				audio::-webkit-media-controls-play-button,
				audio::-webkit-media-controls-timeline,
				audio::-webkit-media-controls-volume-slider-container,
				audio::-webkit-media-controls-volume-slider,
				audio::-webkit-media-controls-seek-back-button,
				audio::-webkit-media-controls-seek-forward-button,
				audio::-webkit-media-controls-fullscreen-button,
				audio::-webkit-media-controls-rewind-button,
				audio::-webkit-media-controls-return-to-realtime-button,
				audio::-webkit-media-controls-toggle-closed-captions-button {
					filter: invert(1);
				}
				audio input[title="more options"] {
					filter: invert(1);
				}
			}

			&.video {
				width: 100%;
				> iframe {
					width: 50vw;
					height: 520px;
				}
			}
		}
	}

	table {
		width: 100%;
		tr {
			td ul {
				padding-left: 0;
				list-style: none;
			}
			&:nth-child(odd) {
				text-align: left;
			}
			&:nth-child(even) {
				text-align: right;
			}
		}
	}

	.dialog {
		display: none;
		z-index: 120;
		position: fixed;
		top: 64px;
		left: 0px;
		overflow: hidden;
		width: 80vw;
		height: 80vh;
		box-shadow: 0px 0px 10px 10px $background;
		background: $background;
		border: none;
		animation: $appearFaster;

		&.active {
			display: block;
		}

		img {
			z-index: 121;
			margin-left: auto;
			margin-right: auto;
			max-height: 90vh;
			width: auto !important;
		}
	}

	.title-link {
		color: $yellow_300;
		font-size: 3rem;
		text-align: center;
		display: block;
		margin: 16px;
	}
}

@media only screen and (max-width: 768px) {
	.page .gallery.investigations {
		div.audio {
			width: 100%;
		}
		div.video > iframe {
			height: 300px;
			width: 75vw;
		}
	}
}
