@import "colors";
@import "anims";

@font-face {
	font-family: "uglyquaregular";
	src: url("./UglyQua-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: "Montserrat", "uglyquaregular", sans-serif;
	font-size: 16px;
}
body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: $background;
	color: $foreground;
	background-image: url("../../static/media/bgs/SPBG_2.jpg");
}

a {
	font-family: "Montserrat", sans-serif;
	font-size: 0.85rem;
	color: $foreground;
	text-decoration: none;
	text-transform: uppercase;

	&.active {
		box-shadow: inset 0 0 1px 1px $border;
	}
}

hr {
	width: 85%;
	margin: 3em;
	color: $border;
}
