@import "colors";
@import "anims";

html {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
}
body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: $background;
	color: $color;
}

a {
	font-family: "Montserrat", sans-serif;
	font-size: 0.85rem;
	color: $color;

	&.active {
		box-shadow: inset 0 0 1px 1px $yellow_400;
	}
}

section {
	max-width: 65vw;
}
@media only screen and (max-width: 960px) {
	section {
		max-width: 100vw;
		padding: 16px;
	}
}

hr {
	width: 85%;
	margin: 3em;
	color: $yellow_400;
}

.error-page {
	text-align: center;
	padding: 2rem;
	height: calc(100vh - 4rem);
	width: calc(100% - 4rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden auto;
	animation: $appear;
}

@media only screen and (max-width: 768px) {
	.error-page {
		height: calc(85vh - 4rem);
	}
}
