$background: #333;
$foreground: #ddd;
$border: #fafafa;

@font-face {
	font-family: "uglyquaregular";
	src: url("./UglyQua-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@keyframes appear {
	from {
		opacity: 1;
	}
	to {
		opacity: 1;
	}
}

$appear: 2s ease-in 1s forwards appear;

html,
body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: $background;
	background-image: url("../../static/media/bgs/SPBG_2.jpg");
	font-family: "Montserrat", "uglyquaregular", sans-serif;
	font-size: 16px;
}

.sp-logo {
	opacity: 0;
	position: fixed;
	top: 1rem;
	left: 2rem;
	z-index: 100;
	width: 2rem;
	animation: $appear;
}

a {
	font-family: "Montserrat", sans-serif;
	font-size: 0.85rem;
	padding: 0.5rem 1rem;
	margin: 0.5rem 1rem;
	color: $foreground;
	text-decoration: none;
	text-transform: uppercase;

	&.active {
		box-shadow: inset 0 0 1px 1px $border;
	}
}

@media only screen and (max-width: 500px) {
	.navigation {
		margin-top: 0 !important;
		height: 100%;
		position: fixed;
		width: 300px;
		left: -300px;
		background-color: $background;
		flex-direction: row;
		justify-content: left;
		align-items: flex-start;

		&.active {
			left: 0px;
		}
	}
}
.navigation {
	margin-top: 0.5rem;
	display: flex;
	justify-content: right;
	align-items: flex-end;
	opacity: 0;
	animation: $appear;
	z-index: 99;
}

.home {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.sp-banner {
		opacity: 0;
		animation: $appear;
	}
}
